@model MusicPortal.Models.LoginModel
<div class="myform">
<h4>Авторизация</h4>
<hr/>
<div class="row" >
	<div class="form-style-div" >
        <form asp-action="Logon">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LoginMail" class="control-label"></label>
                <input asp-for="LoginMail" class="form-control" />
                <span asp-validation-for="LoginMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <input type="submit" value="Вход" class="btn btn-primary" />
                    <a class="btn btn-primary" asp-action="Index" asp-controller="Song">Отмена</a>
            </div>
        </form>
    </div>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
